
#starter-column {
  text-align: left;
}

/* Element | http://localhost:3000/ */

thead.MuiTableHead-root:nth-child(3) > tr:nth-child(1) > th:nth-child(1) {
  text-align: left;
}

/* Element | http://localhost:3000/ */

.makeStyles-table-23 > tbody:nth-child(2) > table:nth-child(1) > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(1) {
  text-align: left;
}

#simple-select-text-mass {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 16px;
  margin-right: 0px;
}

#simple-select-text-volume {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 16px;
  padding-left: 5px;
  margin-left: 0px;
}

/* Element | http://localhost:3000/ */

.sc-kpOJdX > div:nth-child(1) {
  /* margin-right: 1px; */
  margin-right: 10px;
  margin-left: 10px;
}

/* Element | http://localhost:3000/ */

.MuiGrid-root {
  overflow-x: auto;
}