#starter-column {
  text-align: left;
}

thead.MuiTableHead-root:nth-child(3) > tr:nth-child(1) > th:nth-child(1) {
  text-align: left;
}

.makeStyles-table-23
  > tbody:nth-child(2)
  > table:nth-child(1)
  > tbody:nth-child(2)
  > tr:nth-child(1)
  > td:nth-child(1) {
  text-align: left;
}

#simple-select-text-mass {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 16px;
  margin-right: 0px;
}

#simple-select-text-volume {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 16px;
  padding-left: 5px;
  margin-left: 0px;
}

.sc-kpOJdX > div:nth-child(1) {
  margin-right: 10px;
  margin-left: 10px;
}

.MuiGrid-root {
  overflow-x: auto;
}

tbody.MuiTableBody-root:nth-child(4) > tr:nth-child(1) > td:nth-child(4) {
  padding-bottom: 10px;
}

thead.MuiTableHead-root:nth-child(3) > tr:nth-child(1) > th:nth-child(4) {
  border-right-width: 0px;
  border-right-style: solid;
}

th.MuiTableCell-root:nth-child(5) {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgb(224, 224, 224);
}

th.MuiTableCell-root:nth-child(6) {
  border-top-width: 1px;
  border-top-style: solid;
  border-color: rgb(224, 224, 224);
}

.makeStyles-content-7 > div:nth-child(2) > div:nth-child(2) {
  overflow: unset;
  overflow-x: unset;
  overflow-y: unset;
}

.makeStyles-content-7 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: unset;
}

.makeStyles-content-7 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  background: linear-gradient(186deg, rgba(0,143,193,1) 0%, rgba(25,216,255,1) 100%);
}

.makeStyles-content-7 > div:nth-child(2) > div:nth-child(2) {

  margin-right: 400px;
}

#linearity-chart-result {
  margin-left: 100px;
}

div.MuiGrid-root:nth-child(3) {
  margin-left: 100px;
}
