#main-title {
  background-color: #272727;
}

h1 {
  font-size: 10rem;
  font-weight: 100;
  text-align: center;
  color: #faf9f9;
  margin-top: 0px;
  padding-top: 300px;
  margin-bottom: -30px;
  text-shadow: 1px 1px 5px #faf9f9;
}

#subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 400px;
  font-weight: 300;
  font-size: 1.75rem;
  text-align: center;
  color: #faf9f9;
  padding-left: 480px;
  text-shadow: 0.5px 0.5px 2px #faf9f9;

}

#link-linearity {
  margin-top: 100px;
  text-align: center;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

#nav-link {
  font-size: 1.95rem;
  color: #0b132b;
  text-align: 'center';
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

#nav-link:hover {
  color: #5bc0be;
  text-decoration: none;
  text-align: 'center';
  text-shadow: 0.5px 1px 2px #ebf1f1;

}

#code-reference {
  font-size: 1.95rem;
  color: #0b132b;
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #a7a7a7;

}

#code-reference:hover {
  color: #5bc0be;
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #ebf1f1;

}

h3 {
  font-size: 2rem;
  font-weight: 200;

  text-align: center;
  color: #0b132b;
  text-shadow: 0.5px 1px 2px #a7a7a7;

}

h2 {
  font-size: 6rem;
  text-align: center;
  font-weight: 100;
  color: #5bc0be;
  text-shadow: 1px 1.5px 3px #ebf1f1;

}

p {
  font-size: 1.5rem;
  font-weight: 200;

  text-align: center;
  color: #0b132b;
  text-shadow: 0.5px 1px 2px #a7a7a7;

}
