body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
  }
  #main-title-background {
    background-color: #272727;
  }
  
  h1 {
    font-size: 10rem;
    font-weight: 100;
    text-align: center;
    color: #faf9f9;
    margin: 0px 0px 0px 0px ;
    padding-top: 300px;
    text-shadow: 1px 1px 5px #faf9f9;
  }
  
  h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 400px;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: center;
    color: #faf9f9;
    padding-left: 480px;
    text-shadow: 0.5px 0.5px 2px #faf9f9;
  
  }