body {
  margin: 0;
}

#link-linearity {
  text-align: center;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

#nav-link {
  font-size: 1.95rem;
  color: #0b132b;
  text-align: "center";
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

#nav-link:hover {
  color: #5bc0be;
  text-decoration: none;
  text-align: "center";
  text-shadow: 0.5px 1px 2px #ebf1f1;
}

#code-reference {
  font-size: 1.95rem;
  color: #0b132b;
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

#code-reference:hover {
  color: #5bc0be;
  text-decoration: none;
  text-shadow: 0.5px 1px 2px #ebf1f1;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: #0b132b;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}

h2 {
  font-size: 6rem;
  text-align: center;
  font-weight: 100;
  color: #5bc0be;
  text-shadow: 1px 1.5px 3px #ebf1f1;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  color: #0b132b;
  text-shadow: 0.5px 1px 2px #a7a7a7;
}
